html {
  font-size: 62.5%;
  font-family: sans-serif;
  color: white;
}
body {
  background-color: #191919;
  margin: 0;
}
a {
  text-decoration: none;
}

/* header  */
header {
  display: block;
}
.all-nav {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.062745098);
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-left img {
  height: 50px;
}
.nav-left p {
  color: white;
  font-size: 1.5rem;
}
.nav-middle {
  display: flex;
}
.nav-middle a {
  margin: 2rem;
  color: white;
  font-size: 2rem;
}
.nav-right {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-right button {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: white;
  height: 4rem;
  outline: none;
}
.trade-btn {
  background-color: #3eb489;
  border: none;
}
.Connect-btn {
  background-color: inherit;
}

/* main  */
.ref-main-sec {
  padding: 3rem 14rem;
  margin-top: 2rem;
}
.ref-main-head p {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 2rem;
}
.ref-main-disc {
  max-width: 65rem;
}
.ref-main-disc p {
  color: #b7b7bd;
  font-size: 1.7rem;
  font-weight: 300 !important;
  line-height: 2rem;
}
.ref-main-btns {
  display: flex;
  justify-content: center;
}
.ref-btn {
  height: 3.8rem;
  width: 10rem;
  border-radius: 0.5rem;
  outline: none;
  padding: 1.2rem;
  text-align: center;
  line-height: 1.8rem;
  font-size: 1.5rem;
}
.trade-btn {
  color: white;
  background-color: #3eb489;
  border: none;
}
.affiliate-btn {
  color: #b7b7bd;
  background-color: inherit;
}

.ref-box-div {
  display: flex;
  justify-content: center;
}
.ref-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
  padding: 2rem;
  padding-top: 0.5rem;
  border: 2px solid hsla(0, 0%, 100%, 0.062745098);
  width: 50rem;
}
.ref-box-title {
  font-size: 2.5rem;
  line-height: 2rem;
}
.ref-box-disc {
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}
.ref-box-btn {
  padding: 1.2rem;
  line-height: 1.8rem;
  font-size: 1.5rem;
  background-color: #3eb489;
  border: none;
  width: 50rem;
  border-radius: 0.4rem;
  color: white;
}

/* footer  */
.home-foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20rem;
  border-top: 1px solid #4d4d4e;
  padding-top: 4rem;
  width: 100vw;
  text-align: center;
}
.comany-name {
  height: 4rem;
}
.social-links {
  display: flex;
}
.social-links a {
  text-decoration: none;
}
.social-icons {
  height: 4rem;
}
.footer-links {
  display: flex;
  justify-content: center;
  margin-bottom: 1.3rem;
}
.foot-link {
  color: #e6e6ea;
  font-size: 1.7rem;
  line-height: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  margin: 0 1.2rem;
  margin-top: 1.2rem;
}
